:root {
  --color-primary-200: #f1ebdd;
  --color-primary-300: #e5dacd;
  --color-primary-400: #dbcfbf;
  --color-primary-500: #cbbfae;
  --color-white: #ffffff;
  --color-dark: #252323;
  --color-text-dark: #574c3e;
  --color-text-light: #f1ebdd;
  --color-text-dark-faded: #574c3e70;
  --color-faded: #72727236;
  --color-selection: #4770ff;
  --color-red: #cc0e1e;
  --font-pragmatic: "Pragmatic", sans-serif;
  --font-acma: "PP Acma", sans-serif;
  --font-neue: "PP Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
span,
small {
  display: inline-block;
}

a,
button {
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s;
  text-decoration: none;
}

a {
  color: var(--color-selection);
}

a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: var(--color-selection);
  color: var(--color-white);
  text-shadow: none;
}

::-moz-selection {
  background: var(--color-selection);
  color: var(--color-white);
  text-shadow: none;
}

::selection {
  background: var(--color-selection);
  color: var(--color-white);
  text-shadow: none;
}

.primary_button {
  background: var(--color-white);
  text-transform: uppercase;
  border-radius: 38px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  font-family: var(--font-pragmatic);
  color: var(--color-text-dark);
}

.primary_button span {
  margin-left: 3px;
}
.primary_button img {
  width: 1rem;
  height: 1rem;
}

.secondary_button {
  background: var(--color-primary-200);
  text-transform: uppercase;
  border-radius: 38px;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  font-family: var(--font-pragmatic);
  color: var(--color-text-dark);
}
.secondary_button span {
  margin-left: 3px;
}
.secondary_button img {
  width: 1rem;
  height: 1rem;
}

.black_eclipse_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.black_eclipse_container p {
  font-family: Pragmatic;
  color: var(--color-text-dark);
}

.black_eclipse {
  background: var(--color-text-dark);
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
}

.red_eclipse_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.red_eclipse_container p {
  font-family: Pragmatic;
  color: var(--color-text-dark);
}

.red_eclipse {
  background: var(--color-red);
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
}

.bullet-subheading {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}
.bullet-subheading::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-red);
}

.section-spacing-x {
  max-width: 1920px;
  padding: 0 3rem;
  margin: 0 auto;
}

.section-spacing-y {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--color-red);
  font-size: 0.875rem;
}

@media only screen and (max-width: 1024px) {
  .section-spacing-x {
    padding: 0 1rem;
  }

  .section-spacing-y {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
