@media only screen and (max-width: 1440px) {
  .blog-content {
    width: 90%;
  }
}

@media only screen and (max-width: 769px) {
  .blog-banner {
    position: inherit;
    height: max-content;
    padding-top: 4rem;
  }
  .blog-banner .content-wrapper {
    width: 80%;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .blog-page-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .blog-content-section {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .blog-content {
    width: 100%;
    padding: 0;
  }
}
