@media (max-width: 1600px) {
  .scene_description_wrapper {
    width: 50%;
  }
}

@media (max-width: 1150px) {
  .description_main_head {
    font-size: 1.6rem;
  }

  .film_scenes_container {
    height: 100%;
  }
  .scene_bg_wrapper {
    position: relative;
  }
  .scene_bg_second_wrapper img {
    height: 100%;
  }
  .film_credit_container {
    grid-template-columns: 1.5fr 1fr;
  }
  .credit_header {
    max-width: 80%;
  }
  .video_play_button {
    font-size: 0.9rem;
  }
  .scene_description_wrapper {
    width: 65%;
  }
}

@media (max-width: 900px) {
  .banner_container h1 {
    font-size: 3rem;
  }
  .film_details_description_main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .description_service_list_container {
    align-items: center;
  }

  .film_credit_container {
    display: flex;
    flex-direction: column;
  }

  .description_main_head {
    font-size: 1.2rem;
  }
  .film_details_description_heading_wrapper {
    padding: 0;
  }
  .scene_description_wrapper h1 {
    font-size: 1.4rem;
  }
  .scene_description_wrapper {
    width: 70%;
  }
}

@media (max-width:750px) {
   .scene_description_wrapper{
    width: 80%;
   } 
}

@media (max-width: 600px) {
  .banner_container {
    height: 100svh;
  }
  .banner_container h1 {
    font-size: 2rem;
  }
  .banner_heading {
    padding: 0 0 1rem 1rem;
  }
  .credit_header {
    max-width: 100%;
    font-size: 1.2rem;
  }
  .endcredit_row_container p {
    font-size: 0.8rem;
  }

  .description_main_head {
    font-size: 1rem;
  }
  .description_list_wrapper p {
    font-size: 0.9rem;
  }
  .description_service_list_container {
    gap: 0.5rem;
  }

  .scene_description_wrapper {
    padding: 0rem 0 1rem;
  }

  .scene_grid_container{
    padding: 1rem 1rem 1.5rem;
    gap: 1rem;
  }
  .scene_description_wrapper h1 {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .video_play_button {
    padding: 1rem 1.5rem;
  }
  .scene_description_wrapper {
    width: 100%;
  }
}
